.project {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.search-sec {
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    width: 10%;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.search img {
    height: 16px;
    width: 16px;
}

.search p {
    color: #9A9A9A;
    font-family: Poppins-Light;
    font-size: 16px;
}

.profile {
    display: flex;
    width: 18%;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.profile img {
    height: 36px;
    width: 36px;
}

.profile p {
    font-family: Poppins-Regular;
    color: #3A3A3A;
    font-size: 16px;
}

.filter-sec {
    width: 90%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.pro-title {
    width: 10%;
}

.pro-title p {
    color: #212121;
    font-family: Poppins-Medium;
    font-size: 22px;
}

.filter {
    display: flex;
    width: 7%;
    justify-content: space-between;
    align-items: center;
}

.filter p {
    color: #3A3A3A;
    font-family: Poppins-Regular;
    font-size: 16px;
}

.filter img {
    cursor: pointer;
}

.card-sec {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: space-between;
}

.todo {
    height: 100%;
    width: 31%;
    display: flex;
    flex-direction: column;
    background-color: #F5F9F9;
    border-radius: 15px 15px 0px 0px;
    align-items: center;
}

.wrap {
    height: 100%;
    width: 100%;
    display: block;
    overflow-y: scroll;
}

.inprogress {
    height: 100%;
    width: 31%;
    display: flex;
    flex-direction: column;
    background-color: #F5F9F9;
    border-radius: 15px 15px 0px 0px;
    align-items: center;
}

.completed {
    height: 100%;
    width: 31%;
    display: flex;
    flex-direction: column;
    background-color: #F5F9F9;
    border-radius: 15px 15px 0px 0px;
    align-items: center;
}

.head-sec {
    width: 85%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.head-title {
    font-family: Poppins-Medium;
    font-size: 14px;
    color: #212121;
}

.count {
    background-color: #ECF3F3;
    height: 26px;
    width: 23px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.count p {
    font-family: Poppins-Regular;
    color: #329C89;
    font-size: 14px;
}

.add-sec {
    width: 85%;
    height: 10%;
    margin: auto;
}

.add-sec button {
    height: 100%;
    width: 100%;
    background-color: #ECF3F3;
    border-radius: 8px;
    outline: none;
    border: none;
    color: #329C89;
    font-size: 24px;
    font-family: Poppins-Light;
    cursor: pointer;
}

.tasks-sec{
    display: flex;
    height: auto;
    min-height: fit-content;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

/* hiding scrollbar */
.wrap {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.wrap::-webkit-scrollbar {
    display: none;
}