.nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: 1.5px solid #F0F0F0;
}

.nav-title{
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-title p{
    font-family: Poppins-Medium;
    font-size: 22px;
}

.nav-wrap{
    height: 85%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.nav-menu{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.nav-menu-item{
    width: 65%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-sec-text{
    font-family: Poppins-Light;
    color: #9A9A9A;
    font-size: 16px;
    width: 70%;
    cursor: pointer;
}

.pro{
    font-family: Poppins-Medium;
    color: #212121;
}

.nav-menu-item img{
    width: 16px;
    height: 16px;
}

.nav-out{
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.nav-out-item{
    width: 65%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-out-item img{
    width: 16px;
    height: 16px;
}
