@font-face {
  font-family: Poppins-Regular;
  src: url(assets/fonts/Poppins-Regular.otf);
}

@font-face {
  font-family: Poppins-Light;
  src: url(assets/fonts/Poppins-Light.otf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(assets/fonts//Poppins-Medium.otf);
}

@font-face {
  font-family: Poppins-Semibold;
  src: url(assets/fonts/Poppins-SemiBold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
}